<nav class="nav-primary">{% for g in site.data.groups %}
    <p{% if g[0] == page.group %} class="open"{% endif %}></ul>
        {{ g[1].name }}
    </p>
    <ul>{% for p in site.pages | sort: 'title' %}{% if g[0] == p.group %}
        <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">
                {{ p.navtitle }}
            </a>
        </li>{% endif %}{% endfor %}
    </ul>{% endfor %}
</nav>
<script>
    for (let el of document.querySelectorAll('nav p'))
        el.addEventListener('click', function() {
            this.classList.toggle('open');
        }, false);
</script>