{% include head.html %}
    <article> {{ content }}
        <dl>{% for g in site.data.groups %}
            <dt>
                {{ g.name }}
            </dt>
        <dl>{% for p in site.pages | sort: 'title' %}{% if p.group == g.name %}
            <dd>
                <a href="{{ site.baseurl }}{{ p.url }}">
                    {{ p.title }}
                </a>{% if p.count %} — {{ p.count }} {{ site.data.groups[p.group].name }}{% endif %}
            </dd>{% endif %}{% endfor %}
        </dl>{% endfor %}
    </article>
{% include foot.html %}
