{% include head.html %}
    <article> {{ content }}
        <dl>{% for g in site.data.groups %}
            <dt>
                {{ g[1].name }}
            </dt>{% for p in site.pages | sort: 'title' %}{% if site.data.groups[p.group] %}
            <dd>
                <a href="{{ site.baseurl }}{{ p.url }}">
                    {{ p.title }}
                </a>{% if p.count %} — {{ p.count }} {{ site.data.groups[p.group].counter }}{% endif %}
            </dd>{% endif %}{% endfor %}{% endfor %}
        </dl>
    </article>
{% include foot.html %}
