{% include head.html %}
    <article> {{ content }}
        <dl>
            <dt>{% assign filename = page.groupname %}
                {{ site.data.groups[filename].name }}
            </dt>{% for p in site.pages | sort: 'title' %}{% if filename == p.group %}
            <dd>
                <a href="{{ site.baseurl }}{{ p.url }}">
                    {{ p.title }}
                </a>{% if p.count %} — {{ p.count }} {{ site.data.groups[p.group].counter }}{% endif %}
            </dd>{% endif %}{% endfor %}
        </dl>
    </article>
{% include foot.html %}
